/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/
body {
  background-color: #7d5300;
  background-image: url(/Users/mrmyers/HREXT10/hrext10-my-cruddy-app/background.jpg);
  /*background-image: url("https://www.transparenttextures.com/patterns/basketball.png");*/
}

th {
  text-decoration: underline;
}

label {
  text-decoration: underline;
}

header {
  color:white;
  font-family: 'Bree Serif', serif;
  font-size: 50px;
  display: flex;
  justify-content: center;

}

.description {
	color: white;
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.table-delete {
  border-radius: 5px;

}

.table-delete:hover {
	background-color: gray;
}